* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body{
	font-family: arial,helvetica,sans-serif;
}
.flex-container{
	/*height: 400px;*/
	display: flex;
	/*flex-direction: column;
*/	background-color: #f4f4f4;
	/* Always is on the main axis (y)*/
	/*justify-content: end;
*/	/* Always on the cross axis (x) */
	/*align-items: start;*/
/*	flex-wrap: wrap; <- this makes it if it doesnt fit it goes to netxt line*/
}
.flex-Reviews{
	/*height: 400px;*/
	display: flex;
}
.item{

	/*flex-basis: 100px; only takes up as much as the name is for this one its item #*/
	/*flex-grow: 1; would make them all grow at the same ratio*/
	/*flex: 1 0 0; this is short for grow 1 shrink 0 and basis 0*/
	flex: 1;
	height: 100px;
	background: #254de4;
	color: #fff;
	margin: 10px;

	display: flex;
	justifiy-content: center;
	align-items: center;
}

.item:nth-of-type(1){
	/*flex-grow: 3; This is the growing rate of the boxes*/
	/*order: 3;*/
	/*flex-shrink: 1;*/
}
.item:nth-of-type(2){
	/*flex-shrink: 2;*/
	/*flex-grow: 1;*/
	/*flex-basis: 200px; (this is a fixed number of its size and the smalles size it can go*/
	/*order:  1;*/
}
.item:nth-of-type(3){
	/*flex-shrink: 3; ratio to make it shrink*/
	/*flex-grow: 2;*/
	/*order: 2;*/
}
/*.item:nth-of-type(2){
	align-self: center;
}
.item:nth-of-type(3){
	align-self: end;
}*/